<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 id="main_title">MARVEL Profiles</h1>
    <h5 id="sub_title">Bringing to you snapshot profiles of your favorite Marvel characters.</h5>
  </div>
</div>

<div class="container-fluid">
  <!-- search functionality here -->
  <app-search></app-search>

  <!-- footer here -->
  <div class="row">
    <div class="col-md-12">
      <p id="footer">All information is provided by <a target="_blank" href="https://developer.marvel.com">MARVEL API Service</a> </p>
    </div>
  </div>
</div>

  
