
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="input-group input-group-lg">
      <input type="text"  #character class="form-control" aria-label="Large" placeholder="Search Character..." aria-describedby="inputGroup-sizing-sm">
      <button  class="btn btn-success"
     (click)="searchMarvel(character.value)"><i>Search</i></button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12" *ngFor="let item of completeMarvelData; let i=index">
    <h1 class="character_name">{{item.name}}</h1>
  </div>
</div>
<div class="row  justify-content-center">
  <div class="col-md-3" *ngFor="let item of completeMarvelData; let i=index">
    <img src={{item.thumbnail.path}}.{{item.thumbnail.extension}} alt="image of character" class="img-thumbnail">
  </div>
  <div class="col-md-6">
    <div class="card card-main">
      <div class="card-body" *ngFor="let item of completeMarvelData; let i=index">
        <h3 class="card-title character_info">Brief Biography</h3>
          <p class="character_description">{{item.description}}</p>
          <p class="character_subInfo"><b>Number of Comics:</b> {{item.comics.available | number}}</p>
          <p class="character_subInfo"><b>Number of Series Involved In:</b> {{item.series.available | number}}</p>
          <p class="character_subInfo"><b>Number of Events Participated In:</b> {{item.events.available | number}}</p> 
          <p class="character_subInfo"><a target="_blank" href={{item.urls[1].url}}>Full Marvel Wiki</a></p>           
      </div>
    </div>
  </div>
 </div>

 <ng-container *ngIf="completeComicsData.length; then hasData; else noDataYet">

 </ng-container>

 <ng-template #noDataYet>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 id="loadingTitle">Loading Comics...</h1>
    </div>
  </div>
 </ng-template>

 <ng-template #hasData>
   <div class="row justify-content-center">
    <div class="col-md-6">
        <h3 id="comics_Title">Comics Available at Marvel.com</h3>
    </div>
   </div>
  <div class="row justify-content-center" *ngFor="let item of completeComicsData; let i=index">
    <div class="col-md-2 " *ngFor="let comic of item; let i=index">
      <div class="card card-subInfo">
        <img class="card-img-top" src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="Card image cap">
        <div class="card-body">
          <h6 class="card-title"><a target="_blank" href={{comic.urls[0].url}}>{{comic.title}}</a></h6>
        </div>
      </div>
    </div>
  </div> 
</ng-template>